@import 'globle';
#hero-section{
    width: 100%;
    height: 100vh;
    background: url('../../img/hero-section.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    @include flexbox(center,column,center);
    
    p{
      @include Text-design(9rem,700,rgb(255, 230, 0));
    }
    .auto-text-1{
      width: 45rem;
      margin: 8rem auto -2rem auto;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;    
      animation: auto-text-1 1s steps(44) .3s 1 normal both;
   }
   .auto-text-2{
      width: 22rem;
      margin: 0 auto;
      margin-bottom: 3rem;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;    
      animation: auto-text-2 1s steps(44) .3s 1 normal both;
   }
   @keyframes auto-text-1{
    from{width: 0;}
    to{width: 45rem;}
   }
   @keyframes auto-text-2{
    from{width: 0;}
    to{width: 22rem;}
   }
    .search-section{
       width: 32vw;
         img{
           width: 3rem;
           position: absolute;
           margin: 1.3rem 1rem 0rem 1.5rem;
         }
         input{
           width: 75%;
           padding: 1.3rem .8rem 1.3rem 5rem;
           @include Text-design(2.2rem,500,black);
           border-top-left-radius: 0.4rem;
           border-bottom-left-radius: 0.4rem;
           border: .1rem solid rgb(182, 182, 182);
           &:active,&:hover{
            border: .1rem solid rgb(166, 253, 52);
            }
         }
         button{
            width: 25%;
            font-size: 2.2rem;
            font-weight: 600;
            padding: 1.3rem 2rem;
            margin-left: -.5rem;
            border-top-right-radius: 0.4rem;
            border-bottom-right-radius: 0.4rem;
         }
    }
    .contactus-section{
       margin-top: 2.5rem;
       background-color: #00000057;
       @include flexbox();
       width: 38vw;
       padding: 1.5rem 2rem ;
       border-radius: .5rem ;
       margin: 2.5rem auto 0rem auto;
       p{
         width: 55%;
         margin :0rem 3rem 0rem 0rem ;
         @include Text-design(3rem,500,yellow);
       }
       button{
         border-radius: 0.4rem;
         font-size: 3rem;
         background-color:#00000057;
         padding: .8rem 1.5rem;
         @include Text-design(3rem,500,$main-color);
         transition: all .5s;
         &:hover{
            cursor: pointer;
            color: white;
            background-color: $main-color;
         }
       }
    }
}

.page-width{
   width: 83vw;
   height: auto;
   margin: auto;
}
.facilities-section{
   margin-top: 12rem;
   @include flexbox(center,column,center);
   .facilities-card-list{
      @include flexbox(space-between);
      flex-wrap: wrap;
      padding-top: 4rem;
      .facilities-card{
         @include flexbox(start,row,start);
         transition: all .4s ease-in-out;
         padding: 2rem;
         width: 48%;
         margin-top: 4rem;
         box-shadow: 1px 1px 28px #e9e9e9;
         img{
           width:10rem;
         }
         div{
            margin-left: 3rem;
          .card-heading{
            @include Text-design(2.8rem,600,$main-color);
            margin-bottom: 1rem;
          }
          p{
            @include Text-design(1.9rem,500,black);
          }
         }
         &:hover{
            box-shadow: 1px 1px 28px #cacaca;
            cursor: pointer;
         }
      }
   }
}
.society-gallery-section{
   margin-top: 12rem;
   text-align: center;
   .carousel {
      width:100%;
      margin: 7rem auto;
    }
    .flickity-button{
       color: $main-color;
       background-color: white;
    }
    .flickity-page-dots .dot{
       background: $main-color;
    }
    .carousel-cell {
      width: 28%;
      height: 33rem;
      margin-right: 1.5rem;
      counter-increment: carousel-cell;
      img{
         border-radius: .5rem;
         height: 100%;
         width: 100%;
      }
    }
    
}
.notice-background{
   background-color: rgb(78, 255, 78);
   @include flexbox(center,column,center);
   padding:1rem;
   margin-top: 15rem;
.noticeboard-section{
   width: 100%;
   border-radius: 1rem;
   border: 1rem solid white;
   background-color: $main-color;
   padding:3rem 0rem;
   color: white;
   @include flexbox(center,column,start);
   ul{
      width: 70%;
      margin-top: 2rem;
      li{
         @include Text-design(2.5rem,500,white);
         margin:1rem 0rem;
      }
   }
}
}
.society-members-articles{
   width: 100%;
   margin: auto;
   padding: 3rem 0rem;
   margin-top: 12rem;
   border-radius: 1rem;
   @include flexbox(center,column,center);
   .articles-section{
      width: 100%;
      padding-top: 8rem;
      margin-left: 3rem;
      .article{
         @include flexbox();
         margin-bottom: 8rem;
         img{
           height: 23rem;
           width: 30rem;
         }
         .article-details{
            width: 98%;
            margin-left: 3rem;
            text-align: start;
            .article-heading{
               @include Text-design(2.7rem,600,$font-color);
               margin-bottom: 1.3rem;
            }
            .article-discription{
               @include Text-design(1.9rem,500,rgb(71, 71, 71));
               margin-bottom:2rem;
               a{
                  @include Text-design(2rem,600,$main-color);
               }
            }
            p{
               @include Text-design(1.9rem,500,rgb(71, 71, 71));
               margin-bottom:0.5rem;
            }
            .comment-like-share{
               @include flexbox(flex-start);
               margin-top: 2rem;
               div{
                  @include flexbox();
                  align-items: flex-start;
                  margin-right: 2rem;
                  img{
                  height: 3rem;
                  width: 3rem;
                  margin-right: 1rem
                  }
                  p{
                     @include Text-design(1.9rem,500,rgb(71, 71, 71));
                  }
               }
            }
         }
      }
   }
   button{
      @include Text-design(3rem,600,white);
      padding: .5rem 1.5rem;
      cursor: pointer;
      border-radius: .5rem;
   }
}
.managment-peoples-section{
   margin-top: 12rem;
   @include flexbox(center,column,center);
   .managment-peoples{
      margin-top: 8rem;
      @include flexbox(center,row,center);
      flex-wrap: wrap;
      width: 100%;
      .peoples-card{
         margin: 2rem 4rem;
         padding: .5rem;
         width: 30rem;
         height: auto;
         padding-bottom: 2rem;
         border-radius: 1rem;
         overflow: hidden;
         border: .5px solid rgb(235, 235, 235);
         background-color: white;
         transition: all .4s;
         &:hover{
            box-shadow: 2px 2px 30px rgb(182, 182, 182);
            cursor: pointer;
         }
       
            .img{
             width: 100%;
             height: 25rem;
             background: url('../../img/gitprofile.jpg');
             background-repeat: no-repeat;
             background-position: center;
             background-size: cover;
            }
           .name{
             @include Text-design(2.2rem,650,$font-color);
             margin-bottom: 1rem;
             margin-top: 1rem;
           }
           .hoddo{
            @include Text-design(2rem,600,$font-color);
           }
            .contact{
               margin-top: 2rem;
               padding-top: 2rem;
               border-top: 1px solid rgb(226, 226, 226);
               text-align: start;
               a{
                  font-weight: 600;
                  color: #005aff;
                  text-decoration: none;
                  display: block;
                  margin-left: 2rem;
                  @include Text-design(2rem,600,#005aff);
               }
               i{
                  color:$main-color;
                  margin-right: 1rem;
                  margin-bottom: 1rem;
            }
         }
      }
   }
}
#about-section{
   margin-top: 12rem ;
   @include flexbox(center,column,center);
   div{
      margin-top: 8rem;
      width:100%;
      @include flexbox();
      text-align: start;
      ul{
         width: 65%;
         li{
         @include Text-design(2rem,500,black);
         margin: 1rem;
         word-spacing: 2px;
         }
      }
      img{
         height: 37rem;
         width: 31%;
      }
   }
}
#footer-section{
   margin-top: 15rem;
   width: 100%;
   background-color: #4bff0026;
   border-top: .5px solid #e0e0e0;
   flex-wrap: wrap;
   padding-top: 5rem;
   display: flex;
   flex-direction: row;

   @include Text-design(2rem,600,black);
   .society{
     width: 25vw;
     text-align: center;
      img{
         height: 20rem;
         width: 20rem;
      }
      p{
         @include Text-design(6rem,700,rgb(78,255,78));
      }
   }
   .message-to-society{
      text-align: start;
      width: 22vw;
      h2{
         margin-left: 1rem;
         margin-bottom: 1rem;
      }
      input,textarea{
         width: 100%;
         display: block;
         margin: 1rem 1rem;
         @include Text-design(1.7rem,550,black);
         padding: 1rem;
         border: 0.5px solid rgb(202, 202, 202);
         outline: none;
         &:active,&:hover{
            border: 0.5px solid rgba(9, 246, 9, 0.815);
         }
      }
      button{
         font-size: 2.5rem;
         font-weight: 600;
         padding: 1rem 3rem;
         border-radius: .6rem;
        margin-left: 1rem;
      }
   }
   h2{
    margin-bottom: 1.5rem;
    @include Text-design(3rem,600,$font-color)
   }
   .society-location{
     width: 24vw;
     iframe{
        width: 100%;
       border: 1px solid rgb(200, 200, 200);
       height: 35vh;
     }
   }
   .website-creators{
   width: 23vw;
   margin-left: 4rem;
   h2{
      margin-bottom: 1rem;
   }
   p{
      margin-bottom: 5rem;
   }
   a{
      margin-top: 1rem;
      text-decoration: none;
      display: block;
      color:#005aff;
      font-weight: 700;
      i{
         margin-right: 1rem;
         color: rgb(78,255,78);
      }
   }
   }
   .society-name-footer{
      text-align: center;
      @include Text-design(4rem,700,$main-color);
   }
}
.All-right-reserved{
   @include Text-design(2rem,600,black);
   text-align: center;
   padding:3rem 0rem;
   background-color: #4bff0026;
}

 

