.navbar-section{
    width: 100%;
    position: fixed;
    background-color: transparent;
    z-index: 2;
    .nav-width{
      width: 83vw;
      margin: auto;
      @include flexbox(space-between);
      padding-top: 1rem;
   .logo{
    width: 8rem;
    height: 7rem;
   }
   .hamburger{
     display: none;
     transition: all .5s;
     i{
      color: $main-color;
      font-size: 4rem;
     }
   }
   .menu{
      li{
        display: inline-block;
        a{
         margin: 0rem 2.3rem;
         text-decoration: none;
         @include Text-design(2.1rem,500,white);
         transition: all .3s;
         &:hover{
          color: $main-color !important;
          }
        }
        .nav-icon{
          font-size: 2rem;
          margin-right: .5rem;
          font-weight: 700;
          cursor: pointer;
          transition: all .3s;
        }
      }
      .login-btn{
        color:$main-color;
        font-size: 2.1rem;
        padding: .8rem 2.3rem;
        border-radius: 3rem;
        background:transparent;
        border: 1px solid $main-color;
        transition: all .3s;
        &:hover{
        color: white;
        cursor: pointer;
        background-color:$main-color;
        }
      }
    }
  }
}
.navbar-user{
  background-color:white;
  color: white;
  position: fixed;
  top:8rem;
  right: 0.5rem;
  width: 25%;
  z-index: 3;
  padding-bottom: 10rem;
  transform: rotateX(-0deg);
  display: none;
  height: 100%;
  animation: tr .4s;
  overflow-y:scroll;
  @keyframes tr{
    from{
transform: rotateX(-45deg);
    }
    to{
transform: rotateX(-0deg);
    }
  }
  .cancel{
    padding-top: 1rem;
    display: none;
    text-align: end;
    i{
      margin-right: 2rem;
      color: $main-color;
      font-size: 4rem;
    }
  }
  .user-information{
    width: 100%;
    padding: 0rem .5rem 2rem 2rem;
    margin-top: 3rem;
    border-bottom: 1px solid rgb(209, 209, 209);
    @include flexbox(flex-start);
    img{
         height: 10rem;
         width: 10rem;
         border-radius: 50%;
         margin-right: 2rem;
    }
    div{
      .name{
        text-align: start;
       @include Text-design(2.6rem,700,$font-color);
       margin-bottom: .5rem;
      }
      .address{
        text-align: start;
        @include Text-design(2.2rem,500,$font-color);
      }
    }
  }
    a{
      @include Text-design(2.2rem,500,$font-color);
      padding: 2rem;
      cursor: pointer;
      text-align: start;
      display: block;
      text-decoration: none;
      i{
        margin-right: 2rem;
        margin-left: 2rem;
        font-size: 2.2rem;
        width: 2.2rem;
        text-align: center;
      }
      &:hover{ 
        color: white !important;
        background-color: $main-color;
      }
    }
  
}