@import 'globle';
@media(max-width:1475px) {
    html{
        font-size:8px;
    }
  }
  @media(max-width:1235px) {
    html{
        font-size:7.5px;
    }
    #hero-section {
        .search-section{
                width: 40vw;
            }
        
        .contactus-section{
            width: 50vw;
        }
    }
  }
  @media(max-width:1045px) {
    html{
        font-size:7px;
    }
    .page-width{
        width: 94vw;
    }
    .navbar-section{
        .nav-width{
            width: 94vw;
        }
    }
    #footer-section{
        .society-location{
            iframe{
                height: 30vh;
            }
        }
    }
    .navbar-user{
        width: 30%;
    }
  }
  @media(max-width:972px){
      #footer-section{
          justify-content: space-around;
          .society,.society-name-footer{
              display: none;
          }
      }
     
  }
  @media(max-width:860px){
      html{
          font-size: 6.5px;
      }
.society-members-articles{
    .articles-section{
        margin-left: 0rem;
    }
}
      .navbar-section{
          .nav-width{
          .hamburger{
              display: inline;
              i{
                  color: $main-color;
                  font-size: 4rem;
              }
          }
          .menu{
              display: none;
          }
        
      }
      }
      .navbar-user{
        height: 100%;
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 90;
        position: fixed;
        .user-information{
            margin-top: 0rem;
        }
        .cancel{
           display:block;
        }
    }
      #hero-section {
        .search-section{
                width: 50vw;
            }
        .contactus-section{
            width: 60vw;
        }
    }
    #footer-section{
        .message-to-society{
            width: 27vw;
        }
        .society-location{
        width: 27vw;
        }
        .website-creators{
width: 27vw;
        }
    }
  }

  @media(max-width:670px){
      .navbar-user{
          height: 100%;
          width: 50%;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 90;
          position: fixed;
          font-size: 4rem;
          .cancel{
              padding-top: 0rem;
          }
      }
    #hero-section {
        .search-section{
                width: 60vw;
            }
        
        .contactus-section{
            width: 70vw;
        }
    }
    .facilities-section{
        .facilities-card-list{
            @include flexbox(center,column);
        .facilities-card{
            width: 85%;
        }
    }
    }
    .society-gallery-section{

        .carousel-cell {
            max-width: 60%;
            height: 33rem;
    }
}
    .notice-background{
        .noticeboard-section{
            ul{
                width: 85%;
            }
        }
    }
    .society-members-articles{
        .articles-section{
            .article{
                flex-direction: column;
                img{
                     width: 85%;
                     margin-bottom: 3rem;
                     height: 33rem;
                }
                .article-details{
                    width: 85%;
                }
            }
        }
    }
    #about-section{
        div{
            flex-direction:column-reverse;
            ul{
width: 80%;
            }
            img{
                width: 80%;
                margin-bottom: 2rem;
            }
        }
    }
    #footer-section{
        flex-direction: row-reverse !important;
        flex-wrap: wrap-reverse;
        .message-to-society{
            margin: 5rem auto;
            width: 85vw;
        }
        .society-location{
        width: 80vw;
        margin: 5rem auto;
        }
        .website-creators{
         width: 80vw;
         margin: 5rem auto;
        }
        .society-name-footer{
            display: flex;
        }
    }
  }
  @media(max-width:580px){
      .navbar-user{
          width: 70%;
      }
    .society-gallery-section{

        .carousel-cell {
            max-width: 80%;
            height: 33rem;
    }
}
    #hero-section {
        .search-section{
                width: 85vw;
            }
        
        .contactus-section{
            width: 85vw;
            flex-direction: column;
            p{
                width: 80%;
                margin-bottom: 1rem;
            }
        }
    }
  }
  @media(max-width:360px){
      .navbar-user{
          width: 85%;
      }
      #hero-section {
        .search-section{
                width: 94vw;
            }
        
        .contactus-section{
            width: 90vw;
        }
    }
  }
